:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.Так стили написанные ниже будут иметь больший вес,чем стили в медиазапросе предпочтений пользователя*/
  --main-bg-color: #00183f;
  --main-heading-color: #00183f;
  --article-text-color: #F1B2CE;
  --header-title-color: #DB00FF;
  --footer-title-color: #DB00FF;
  --accent-color: #FF0070;
  --menu-text-color: #FF0070;
  --main-dark-bg-image: url('../images/cover-image-dark.png');
}
.theme-dark,
 .header {
  background-image: url('../images/cover-image-dark.png');

  .page {
    background-color: #000028;
  }
}

.text-article {
  color: #F1B2CE;
  }

.content-section_title {
  color: #FF0070;
}