/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-color: #00183f;
  --main-heading-color: #00183f;
  --article-text-color: #F1B2CE;
  --header-title-color: #DB00FF;
  --footer-title-color: #DB00FF;
  --accent-color: #FF0070;
  --menu-text-color: #FF0070;
  --main-light-bg-image: url('../images/cover-image-light.png');
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
