:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-bg-color: #000028;
  --main-bg-image: url('../images/cover-image-dark.png');
  --main-text-color: #000028;
  --article-text-color: #F1B2CE;
  --header-title-color: #DB00FF;
  --footer-title-color: #DB00FF;
  --accent-color: #FF0070;
  --menu-text-color: #FF0070;
  --main-heading-color:#FF0070;
  --main-gap: 20px;
  --main-text-size: 18px;
  --main-font-weight: 700;
  --article-font-weight: 400;
  --main-line-height: 23.4px;
  --header-title-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --gallery-gap: 20px;
  --rec-display: inline-block;
}


