/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --menu-text-color: #FF0070;
  --main-gap: 20px;
  --main-text-size: 18px;
  --main-font-weight: 700;
  --article-font-weight: 400;
  --main-line-height: 23.4px;
  /*--mobile-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);*/
  --header-title-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --title-dark-bg-image: url('../images/cover-image.png');
  --main-dark-bg-image: url('../images/cover-image-dark.png');
  
  --gallery-gap: 20px;
  --gallery-min-height: calc(100vh - 100px);
  --gallery-padding: 20px;
  --gallery-item-min-height: 100px;
}

@media (width >= 375px) {
  .page {
    font-family: var(--main-font, monospace);
    padding: 10px;
  }
  
  .header__title,
  .footer__title {
    font-size: clamp(5rem, 5vw, 7rem);
  }
  
  .gallery {
    grid-template-columns: 1fr;
  }
  
  /*.gallery__item {
    grid-column: span 1;
    grid-row: span 1;
  }*/
}

@media (width >= 768px) {
  
  .header__title,
  .footer__title {
    font-size: var(--header-title-size);
    line-height: 0.82;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  
  /*.content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }*/

/*  .causes {
    .content-section_title {
      grid-column: 1/-1;
      max-width: 236px;
    }

    .text-blocks {
      grid-column: 1/-1;
    }
  }


}*/

@media (width >= 1024px) {
 
  .gallery {
  grid-template-columns: repeat(3, 1fr);
  }
  
  
}

.causes {
  .content-section_title {
    grid-column: 1/-1;
    max-width: 236px;
  }

  .text-blocks {
    grid-column: 1/-1;
  
    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      align-items: start;

  
  
  }

  
  }
}

.content-section {
  font-style: normal;
  line-height: 23.4px;

  @media (width >=768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
    
  }
}



.text-blocks {
  display: grid;
  gap: 20px;

  @media (width >=1024px) {
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;*/
    grid-column: span 2;
  }
}